**Data Types and Structures Questions**
Data Types and Structures Questions

Q1 What are data structures, and why are they important

->
Data structures in Python refer to the way data is organized,stored,and managed.
This data is organized, stored and managed in memory, to perform operations   efficiently and it can be easily accessed and used by computer programs.
This data is organized, stored and managed in memory, to perform operations
efficiently and it can be easily accessed and used by computer programs.
There are various data structures such as lists, tuples, sets, and dictionaries, and every data structure has a specific format for organizing, processing, retrieving and storing data, allowing data to be manipulated in various ways by users and computer systems.
Data structures help organize and manage data efficiently.
Data structure ensures that programs run faster and use less memory hence complexity becomes less .
Well-chosen data structures make code easier to understand and maintain.
Useful in complex problem-solving scenarios.

Q2 Explain the difference between mutable and immutable data types with examples

->

Mutable and Immutable data types refer to whether or not an object’s value can be changed after it is created.
Mutable Data Types
A mutable data type is one whose value can be modified after creation without changing its memory address.

This means we can modify or update the  elements of the objects after they are created. Mutable data types consist of set,dictionary and list.
Example:-
list_2=[1,2,3,4]

list_2.append(10)

print(list_2)

Immutable Data Types
An immutable data type is one whose value cannot be changed after it is created. Any modification results in the creation of a new object in memory rather than modifying the existing one.Immutable data type consists of tuple and string.
Example:-
tuple1 = (1, 2, 3)
tuple1[0] = 10  # This will cause an error


Q3 What are the main differences between lists and tuples in Python

->
List :

List are changeable means they are mutable in nature.

They use square brackets for declaration.

They are slower than Tuples as they use more memory.

They are more flexible and can be modifies frequently .

Tuples :

Tuples are not changeable means they are immutable in nature.

They use Parentheses also called as round brackets for declaration .

They are faster than List as they use less memory.

They are not flexible , rigid and are not modified frequently

Q4 Describe how dictionaries store data

A dictionary is a collection which is ordered, changeable and does not allow duplicates.
Dictionary is a data structure that stores data in key-value pairs.
Values in a dictionary can be of any data type and can be duplicated, whereas keys can’t be repeated and must be immutable.
It uses curly brackets for declaration and have a colon between the key and value.
Its syntax is

dic_name={key:value}

This allows fast data retrieval by mapping unique keys to their associated values.


Q5 Why might you use a set instead of a list in Python

Set and List both are somewhat similar and both sets and lists are used to store collections of elements, but they have slightly a difference :

Set automatically removes duplicates.
Sets allow easy union, intersection, and difference operations, which are harder to perform with lists.
Checking if an element exists in a list takes O(n) time, but in a set, it takes O(1) time due to hashing.

Q6 What is a string in Python, and how is it different from a list

A string in Python is a sequence of characters.
It is usually enclosed with single,double or triple quotes.
It is used to represent text data.
String stores characters whereas list stores any data type.
String is immutable  whereas list is mutable.
String cannot modify characters directly whereas List can change, add, or remove elements.


Q7 How do tuples ensure data integrity in Python

Tuples ensure data integrity by being immutable.
Once a tuple is created its values cannot be modified.
This ensures that important data remains unchanged throughout program execution.


Q8 What is a hash table, and how does it relate to dictionaries in Python

A hash table is a data structure
This data structure stores key-value pairs and allows fast retrieval of values based on keys.

Hash table uses a hash function to convert keys into unique indexes, making lookup, insertion, and deletion operations fast.

In Python, dictionaries are implemented using hash tables, enabling efficient storage and retrieval of key-value pairs.
Dictionaries store data as key-value pairs, where keys are unique and immutable, and values can be of any type.

Hashing:

When you access a value in a dictionary using its key, Python uses a hash function to determine the index (or bucket) where the value is stored.
This hashing mechanism allows for near-constant time (O(1)) average-case performance for operations like lookup, insertion, and deletion.

Q9 Can lists contain different data types in Python?


Yes, List can contain different data type.
This data type can consist of float, integer , string , boolean values.

Q10 Explain why strings are immutable in Python


One reason for this immutability is memory efficiency. Python stores frequently used strings in a special memory area called a string interning pool, allowing them to be reused instead of creating multiple copies. If strings were mutable, modifying one would affect all references, leading to unexpected errors.
Strings are commonly used as keys in dictionaries and elements in sets. If strings could be modified, their hash values would change, making it impossible to retrieve the correct values from a dictionary. By keeping them immutable, Python ensures that they remain stable and reliable.
Immutability also helps prevent accidental changes. Since strings often store important data like usernames, file paths, and URLs, allowing modifications could lead to unintended errors. Instead of changing a string in place, Python encourages creating a new string when modifications are needed.

Q11  What advantages do dictionaries offer over lists for certain tasks

Lists allow duplicate values, which can lead to confusion when searching for unique items whereas dictionaries automatically prevent duplicate keys, ensuring data integrity.


In lists, inserting or deleting elements in the middle requires shifting elements but in dictionaries, updates and deletions are instant since they use hashing to store data.
In a dictionary, values are accessed using keys, making search operation faster

Q12 Describe a scenario where using a tuple would be preferable over a list

A tuple is preferable over a list in a scenario where data should remain unchanged after creation.
Since tuples are immutable, they prevent accidental modifications, making them useful in cases where data integrity is important.

A simple scenario would be storing date of birth where we dont want changes, using a tuple ensures the data remains fixed and unmodified.

birthdate = (2002, 11, 05)

Q13 How Do Sets Handle Duplicate Values in Python?

In Python, sets automatically remove duplicate values when storing elements.
Unlike lists or tuples, which allow repeated values, a set only keeps unique elements.
If we add elements to a set, Python checks if they already exist.
If a duplicate is found, it is ignored and not added again.

Q14 How does the “in” keyword work differently for lists and dictionarie


The "in" keyword is used to check if an element exists in a list or dictionary but it slightly behaves differently for both the data structures
In list the "in" checks if a value is present in the list or not whereas in the dictionary it checks if a key exists or not .

For list python scans each element one by one to find a match  .
It performs a linear search which results into a slower speed for searching while in dictionary It performs a fast lookup using hashing

Q15 Can you modify the elements of a tuple? Explain why or why not

You can't modify the elements of a tuple in Python because tuples are immutable. Once a tuple is created, its elements can’t be changed, added, or removed.
This immutability exists because tuples are meant to store fixed data that shouldn't be altered. They are more reliable and efficient compared to lists. Since they can't be modified, Python optimizes memory usage and makes them faster to access.
If you try to change an element inside a tuple, Python will throw an error

Q16  What is a nested dictionary, and give an example of its use case

A nested dictionary is a dictionary inside another dictionary. It allows you to store complex and structured data, where each key can have another dictionary as its value. This is useful for representing hierarchical or grouped information
For example a  nested dictionary of employees where we have another dictionary of employee name,position and salary

employees = {

    "emp1": {"name": "Tanmay", "position": "Manager", "salary": 75000},
    "emp2": {"name": "Ajay", "position": "Developer", "salary": 65000},
    "emp3": {"name": "Vijay", "position": "Designer", "salary": 60000}
}


Q17 Describe the time complexity of accessing elements in a dictionary

Accessing elements in a dictionary is very fast in Python because dictionaries use a hashtable internally. This allows Python to find the value associated with a key almost instantly without searching through all elements.
In most cases, the time complexity of accessing an element in a dictionary is constant regardless of the size of the dictionary.
This happens because Python uses a hash function to generate a unique index for each key, allowing direct access to the value.
However, in some rare cases, if multiple keys generate the same hash python may need to check multiple entries. In such cases, the time complexity can become O(n) in the worst case, but Python’s internal optimizations keep this very rare.


Q18 In what situations are lists preferred over dictionaries


When we need to store a collection of values without key-value pairs, a list is more straightforward and memory-efficient.

Lists are optimized for iterating over elements, making them better when you need to process all items sequentially.

If elements are accessed by position rather than a unique key, lists allow direct access using an index
Lists are also preferred for small datasets where fast lookups by key are not required, lists are simpler and use less memory than dictionaries.


Q19 Why are dictionaries considered unordered, and how does that affect data retrieval

In the past dictionaries were considered unordered in python because they used a hash table to store key-value pairs. Unlike lists, which maintain elements in a specific sequence.

Dictionaries arranged data based on hash values, meaning the order of items was unpredictable before Python 3.7.
However, starting from Python 3.7, dictionaries preserve insertion order—this means that elements appear in the order they were added.

But internally, they still use hashing, so the retrieval speed remains fast.
Since dictionaries use hashing, retrieving a value by its key is very fast.
Unlike lists, we cannot access dictionary elements using numerical indexes
Iteration Order Depends on Python Version:
Before Python 3.7: The order of items during iteration was unpredictable.
Python 3.7 and later: Items are retrieved in the same order they were inserted.


Q20 Explain the difference between a list and a dictionary in terms of data retrieval.

In a list, we access elements using an index, whereas in a dictionary, we access them using a key .

Lists are fast when accessing elements by index but slow when searching for a value. Dictionaries, on the other hand, provide very fast  retrieval when using keys.

Lists always maintain insertion order, while dictionaries have preserved insertion order only since Python 3.7+.

Lists support index-based access but dictionaries do not .

Lists are best when you need an ordered
collection of data, like a list of names, whereas dictionaries are ideal for fast lookups with unique labels, such as storing student details with names as keys.

In [31]:
# Practical Questions

#1)Write a code to create a string with your name and print it

name= input("enter your name")
print("Name:",name)

enter your namejh
Name: jh

In [30]:
#2) Write a code to find the length of the string "Hello World"

len("Hello World")

11

In [29]:
#3)Write a code to slice the first 3 characters from the string "Python Programming"

string1="Python Programming"
string1[3:]

'hon Programming'

In [28]:
#*4) Write a code to convert the string "hello" to uppercase

str="hello"
print(str.upper())

HELLO

In [27]:
#5) Write a code to replace the word "apple" with "orange" in the string "I like apple"

str= "I like orange"
str.replace("orange", "apple" )
print(str)

I like orange

In [26]:
#6) Write a code to create a list with numbers 1 to 5 and print it

list_1=[1,2,3,4,5]
print(list_1)

[1, 2, 3, 4, 5]

In [23]:
#7)Write a code to append the number 10 to the list [1, 2, 3, 4]

list_2=[1,2,3,4]
list_2.append(10)
print(list_2)

[1, 2, 3, 4, 10]

In [24]:
#8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]


list_3=[1,2,3,4]
list_3.remove(3)
print(list_3)

[1, 2, 4]

In [25]:
#9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list= ['a', 'b', 'c', 'd']
list[2]

'c'

In [22]:
#10) Write a code to reverse the list [10, 20, 30, 40, 50].

list = [10, 20, 30, 40, 50]
list[::-1]

[50, 40, 30, 20, 10]

In [21]:
#11).Write a code to create a tuple with the elements 100, 200, 300 and print it.

tuple=(100, 200, 300)
print(tuple)

(100, 200, 300)

In [20]:
#12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple = ('red', 'green', 'blue', 'yellow')
tuple[-2]

'blue'

In [19]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple_1 = (10, 20, 5, 15)
min(tuple_1)

5

In [18]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple=('dog', 'cat', 'rabbit')
tuple.index( "cat")

1

In [17]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

tuple=("orange", "apple" ,"kiwi")
"kiwi" in tuple

True

In [16]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set1 ={ 'a', 'b', 'c'}
print(set1)
type(set1)

{'a', 'c', 'b'}

set

In [15]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set1 ={1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [14]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

set1 = {1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [12]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1={1, 2, 3}
set2={3, 4, 5}
set3= set1 | set2
set3

{1, 2, 3, 4, 5}

In [11]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1={1, 2, 3}
set2={2, 3, 4}
set3= set1 & set2
set3

{2, 3}

In [10]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = { "name": "Tanmay", "age": 22, "city": "Mumbai" }
print(my_dict)

{'name': 'Tanmay', 'age': 22, 'city': 'Mumbai'}

In [8]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dictionary=  {'name': 'John', 'age': 25}
dictionary["country"] = "USA"
print(dictionary)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [9]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dictionary ={'name': 'Alice', 'age': 30}
dictionary.get("name")

'Alice'

In [7]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dictionary= {'name': 'Bob', 'age': 22, 'city': 'New York'}
dictionary.pop('age')
dictionary

{'name': 'Bob', 'city': 'New York'}

In [6]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dictionary = {'name': 'Alice', 'city': 'Paris'}
if "city" in dictionary:
    print("Key exists.")
else:
    print("Key does not exist.")

Key exists.

In [5]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

list = [1, 2, 3, 4, 5]

tuple = (10, 20, 30, 40, 50)

dictionary = {'name': 'Tanmay', 'city': 'Mumbai'}

print("List:", list)
print("Tuple:", tuple)
print("Dictionary:", dictionary)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'Tanmay', 'city': 'Mumbai'}

In [4]:
'''27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)'''

n = 5  # Size of the list
user_list = []

for i in range(n):
    while True:  # Keep asking until a valid input is provided
        element = int(input(f"Enter element {i+1} (between 1 and 100): "))
        if 1 <= element <= 100:
            user_list.append(element)
            break  # Exit the loop if input is valid
        else:
            print("Invalid input! Please enter a number between 1 and 100.")
user_list.sort()
print("Sorted List:", user_list)

Enter element 1 (between 1 and 100): 4
Enter element 2 (between 1 and 100): 8
Enter element 3 (between 1 and 100): 6
Enter element 4 (between 1 and 100): 7
Enter element 5 (between 1 and 100): 1
Sorted List: [1, 4, 6, 7, 8]

In [3]:
#28. Write a code to create a list with strings and print the element at the third index.

list2=['Tanmay','Ajay','Vijay','Jay']
list2[3]

'Jay'

In [2]:
#29. Write a code to combine two dictionaries into one and print the result.

dictionary1 = {'Name': 'Tanmay', 'City': 'Mumbai'}
dictionary2 = {'Age': 22 , 'Gender': 'Male'}
dictionary3 = dictionary1 | dictionary2
print(dictionary3)

{'Name': 'Tanmay', 'City': 'Mumbai', 'Age': 22, 'Gender': 'Male'}

In [1]:
#30. Write a code to convert a list of strings into a set.

list2=['Tanmay','Ajay','Vijay','Jay']
string_set = set(list2)

print("Set:", string_set)

Set: {'Ajay', 'Tanmay', 'Vijay', 'Jay'}